.navbar {
    background-color: #669d34;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 8px;
}

.mPHT {
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 7px;
    border-radius: 8px;
} 

.homeB {
    background-color: #669d34;
    color: white;
    border-radius: 8px;
    border: none;
}