body {
    background-image: url('w1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.apps {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr;
}

.app1 {
    background-color: black;
    height: 100px;
    width: 192px;
    background-image: url('ytv.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-left: 45px;
    margin-top: 30px;
    transition: height 0.2s, width 0.19s, border-radius 0.1s;
}

.app1:hover {
    height: 125px;
    width: 242px;
    border-radius: 25px;
}

.app2 {
    background-color: black;
    height: 100px;
    width: 192px;
    background-image: url('cstv.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-left: 45px;
    margin-top: 30px;
    transition: height 0.2s, width 0.19s, border-radius 0.1s;
}

.app2:hover {
    height: 125px;
    width: 242px;
    border-radius: 25px;
}

.wlc {
    display: grid;
    grid-template-columns: 0fr 0fr;
}

.wlcb {
    background-color: black;
    border-radius: 17px;
    height: 70px;
    width: fit-content;
    align-content: center;
    margin-left: 42px;

}

.wlct {
    font-family: "Varela Round", serif;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 21px;
    font-size: 25px;
    cursor: default;
    white-space: nowrap;
}

.wlcnb {
    background-color: black;
    border-radius: 17px;
    height: 70px;
    width: fit-content;
    align-content: center;
    margin-left: 21px;
}

.wlcn {
    font-family: "Varela Round", serif;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    cursor: default;
    white-space: nowrap;
}

.nami {
    margin-right: 0px;
    margin-left: 10px;
    height: 23.677px;
    width: 84px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style: none;
    padding-left: 10px;
    font-family: "Varela Round", serif;
    margin-bottom: 2px;
    outline: none;
}

.wlcns {
    margin-left: -6.5px;
    margin-top: 12px;
    height: 25.4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
}