body {
    background-color: white;
}

nav {
    background-image: linear-gradient(to right, #007f17 20%, #c3d106 80%);
    overflow: hidden;
    border-radius: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    float: right;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.5s;
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 17px;
}

.Q {
    float: right;
}

nav ul li a:hover {
    color: #0bba02;
    font-weight: 900;
}

nav ul li img {
    height: 50px;
    width: 100px;
    margin: 5px 10px;
    border-radius: 15px;
}
